body{
  background: repeating-linear-gradient(
    180deg,
    #113311,
    #113311 20px,
    rgb(6, 82, 6) 20px,
    #0e2d12 30px
  );
  background-attachment: fixed;
}
h1 {
  text-align: center;
  color: white;
}

h3 {
  text-align: center;
  color: white;
}

big {
  color: bisque;
}

img {
  height: 40vh;
  width: 35vw;
  border-radius: 10%;
}

img:hover{
  transform: scale(1.1);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 10vh;
}

input {
  border: solid black 3px;
  padding: .2rem;
}

select {
  border: solid black 3px; 
}

nav  a {
  text-decoration: none;
  color: white;
  margin: 0 1em;
}

p {
  color: bisque;
}

button {
  justify-self: center;
}

label {
  color: white;
}
.stadiums {
display: grid;
grid-template-columns: repeat(auto-fill, 40vw);
padding: 5vh;
grid-template-rows: auto;
text-align: center;
justify-content: center;
}

.stadiums a {
  color: white;
  text-decoration: none;
}

.reviews {
display: grid;
justify-content: center;
grid-template-columns: repeat(auto-fill, 40vw);
padding: 5vh;
text-align: center;
border-bottom: white solid;
border-top: white solid;

}

.delete {
  width: 7vw;
}

.edit {
  width: 7vw;
}

.submit {
  height: 2rem;
  align-self: center;
}

