body{
  background: repeating-linear-gradient(
    45deg,
    #113311,
    #113311 1rem,
    rgb(6, 82, 6) 1rem,
    #0e2d12 2rem
  );
  background-attachment: fixed;
}

header {
  background-color: black;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 2rem;
  text-align: start;
  padding-top: 1rem;
}

h1 {
  text-align: center;
  padding-top: 3rem;
  color: white;
}

h3 {
  padding-top: 3rem;
  text-align: center;
  color: white;
}

big {
  color: bisque;
}

img {
  height: 40vh;
  width: 35vw;
  border-radius: 10%;
}

img:hover{
  transform: scale(1.1);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 10vh;
}

input {
  border: solid black 3px;
  padding: .2rem;
}

select {
  border: solid black 3px; 
}


nav  a {
  text-decoration: none;
  color: white;
  margin: 2rem; 
}

nav a:hover {
  color: gray;
}

p {
  color: bisque;
}

button {
  justify-self: center;
}

label {
  color: white;
}
.stadiums {
display: grid;
grid-template-columns: repeat(auto-fill, 40vw);
padding: 5vh;
grid-template-rows: auto;
text-align: center;
justify-content: center;
}

.stadiums a {
  color: white;
  text-decoration: none;
}

.reviews {
display: grid;
justify-content: center;
grid-template-columns: repeat(auto-fill, 40vw);
padding: 5vh;
text-align: center;
border-bottom: white solid;
}

.delete {
  width: 7vw;
}

.edit {
  width: 7vw;
}

.submit {
  height: 2rem;
  align-self: center;
}

